.task{
	@include box-sizing(border-box);
	width: 80%;
	height: auto;
	margin: 20px auto;
	background-color: #FFF;
	border: 1px solid #ADADAD;

	img{
		display: block;
		margin: 0 auto;
	}

	.task-date{
		text-align: center;
		display: block;
		width: 100%;
	}
}

@media only screen and (min-width: 700px){
	.task{
		width: 40%;
		margin: 4.5%;
		display: inline-block;
		vertical-align: top;
	}
}

@media only screen and (min-width: 1200px){
	.task{
		width: 30%;
		margin: 20px 10px;
		display: inline-block;
		vertical-align: top;
	}
}